extends layout 

block content 
  div.messages
    each message in messages 
      div.message 
        small.message-details 
          | On #{message.date_formatted}, 
          if (currentUser)
            b
              a(href=message.author.url class='nav-link')= message.author.username
          else 
            b= "an anonymous member"
          |  wrote:
        p.message-text= message.text
    else 
      p 
        i There are no messages here right now.