doctype html
html(lang='en')
  head
    title= `Members Only :: ${title}`
    link(rel='stylesheet', href='/style.css')
  body
    header 
      h1 
        a(href='/' class='nav-link') Members Only
      nav 
        if currentUser 
          p Logged in as 
            a(href=`/member/${currentUser.username}` class='nav-link') #{currentUser.username}
          a(href='/log-out' class='nav-link') Log Out
        else
          a(href='/log-in' class='nav-link') Log In
          a(href='/sign-up' class='nav-link') Sign Up
    main 
      h2= title || 'Error'
      block content
